<a href="https://colab.research.google.com/github/shakeraema/Demo1/blob/main/PDS_10_all_in__one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Resources

Python Documentation: [https://www.w3schools.com/python](https://www.w3schools.com/python/)

Class Notebook: [https://tinyurl.com/PDS10-notebook](https://tinyurl.com/PDS10-notebook)

Python Basics(Book): [https://allendowney.github.io/ThinkPython/](https://allendowney.github.io/ThinkPython/chap01.html)

PDS practice problem data: [https://tinyurl.com/PDS-data](https://tinyurl.com/PDS-data)

# Class_01

**Programming Language** : A programming language is a system of notation for writing computer programs. Programming languages are described in terms of their syntax and semantics.


**Python**: Python is a **high-level**, **interpreted** programming language known for its simplicity and readability, making it a popular choice for both beginners and experienced developers. Python is widely used in web development, data analysis, artificial intelligence, scientific computing, automation, and more. Its versatility and ease of use make it a go-to language for a variety of programming tasks.

**Compiler vs Interpreter:**
**A compiler** translates the entire source code of a program into machine code before execution, producing a standalone executable file. This process typically results in faster execution since the translation has already been completed. Compilers catch many errors during the compilation stage, which reduces the number of runtime errors. The development cycle with a compiler involves writing code, compiling it, and then running the executable, which can be time-consuming for large programs but results in efficient execution. Examples of compiled languages include **C, C++, Rust,** and **Go**. Compilers are favored for performance-critical applications due to their ability to optimize code during the compilation process.

**An interpreter**, on the other hand, translates the source code into machine code line by line at runtime, directly executing the code without producing an executable file. This method can slow down execution because translation happens simultaneously with execution. However, interpreters offer immediate feedback, which is beneficial for iterative and experimental development, and make debugging easier for beginners since errors are caught at runtime. Interpreters are often used for scripting and prototyping due to their quick development cycle. Examples of interpreted languages include Python, JavaScript, Ruby, and PHP. Interpreted programs can be more portable as they rely on an interpreter available on the target system, unlike compiled programs which need recompilation for different platforms.



**IDE:** An Integrated Development Environment (IDE) is a comprehensive software application that provides a suite of tools and features designed to facilitate software development. IDEs integrate various developer tools into a single graphical user interface (GUI), streamlining the development process and improving productivity. Some popular IDE for python development are: **PyCharm, VS code, Google Colab, Jupyter Notebook** etc.


***For the reference, to learn Python, you can follow the following resouce:*** [think-python.pdf](https://drive.google.com/file/d/199F3BcJJxN4LaP03c9azwztWWXZZFynl/view?usp=sharing), [git repo](https://github.com/Asabeneh/30-Days-Of-Python/tree/master)

Printing My first python code

In [ ]:
print("Hello World!")
print('Hello World!')
print('PDS10\'s student')

Hello World!
Hello World!
PDS10's student

In [ ]:
print("Hello world", "I'm 2nd", "I'm 3rd",end="\n", sep="@")

Hello world@I'm 2nd@I'm 3rd

string manipulation with upper, strip, capitalize

In [ ]:
student_name = '     i am not dipto.    '
print(student_name.capitalize())
print(student_name.strip())

     i am not dipto.
i am not dipto.

In [ ]:
print(student_name)
student_name = student_name.strip()
print(student_name)
student_name = student_name.capitalize()
print(student_name)

     i am not dipto.
i am not dipto.
I am not dipto.

In [ ]:
student_name = '     i am not dipto.    '
print(student_name.strip().capitalize())

print(student_name)
student_name = student_name.strip().capitalize()
print(student_name)

I am not dipto.
     i am not dipto.
I am not dipto.

**Run Python program on a local IDE**



1.   First download [PyCharm Community Edition](https://www.jetbrains.com/pycharm/download/?section=mac)
2.   Now follow the following tutorial to run your first Python Program on Pycharm: [Create Your First Project on Python](https://www.jetbrains.com/help/pycharm/creating-and-running-your-first-python-project.html#edit-file)

# Class_01_Pthyon_Basics

Commenting

Variables

Assign multiple variables

Data types

Type casting

Numbers

Strings

## Learn commenting with python

In [ ]:
# Assigning a numerical value to a variable.
# Then printning the variable to show the value
class_room = 201
print(class_room)

201

In [ ]:
"""
This a multi-line comment with:
""
"""
class_room = 201
print(class_room)

201

In [ ]:
'''
This a
multi-line comment
'''
class_room = 201
print(class_room)

201

## Variables

### Data_types

**Variable Types in python**

- **Text Type**: `str`
- **Numeric Types**: `int`, `float`, `complex`
- **Sequence Types**: `list`, `tuple`, `range`
- **Mapping Type**: `dict`
- **Set Types**: `set`, `frozenset`
- **Boolean Type**: `bool`
- **Binary Types**: `bytes`, `bytearray`, `memoryview`
- **None Type**: `NoneType`

In [ ]:
class_room = 201
marks = 89.99999
student_name = "Rahimul"
print(type(student_name))
print(type(class_room))
print(type(marks))

<class 'str'>
<class 'int'>
<class 'float'>

### Type casting

In [ ]:
marks = 89
marks_in_string = str(marks)
print(marks, type(marks))
print(marks_in_string, type(marks_in_string))

89 <class 'int'>
89 <class 'str'>

In [ ]:
first_num = input("Enter the first number: ")
second_num = input("Enter the second number: ")
print(type(first_num), type(second_num))

Enter the first number: 223
Enter the second number: 65.8
<class 'str'> <class 'str'>

In [ ]:
first_num = int(first_num)
second_num = float(second_num)
print(first_num + second_num)

288.8

### Varibale naming

**Identifier:** An identifier in programming is a name given to elements such as variables, functions, classes, and other entities within the code. Identifiers are used to uniquely identify and reference these elements, allowing developers to manipulate and interact with them.

Programmers generally choose names for their variables that are meaningful—they document what the variable is used for.  

Variable names can be arbitrarily long. They can contain both letters and numbers, but they have to begin with a letter.  

It is **legal** to use **uppercase letters**, but it is a **good idea to begin variable names with a lowercase letter** (you’ll see why later).
**The underscore character (_) can appear in a name. It is often used in names with multiple words**.

If you give a variable an illegal name, you get a syntax error.

**Can't use python keywords as variable, there are 31 keywords in python:**
- `and`
- `del`
- `from`
- `as`
- `elif`
- `global`
- `assert`
- `else`
- `if`
- `break`
- `except`
- `import`
- `class`
- `exec`
- `in`
- `continue`
- `finally`
- `is`
- `def`
- `for`
- `lambda`
- `not`
- `while`
- `or`
- `with`
- `pass`
- `yield`
- `print`
- `raise`
- `return`
- `try`

In [ ]:
# snake_case
marks_in_strings = '89'

# camelCase
marksInString = '89'

# PascelCase
MarksInStrings = '89'

In [ ]:
# Can't start with number
2inInt = 2
# IntValOf2 = 2

SyntaxError: invalid syntax (<ipython-input-35-f3ee21be2f46>, line 2)

In [ ]:
# Naming is case-sensitive
name = 'Akhalia'
print(Name)

NameError: name 'Name' is not defined

In [ ]:
# Just accept _ while declaring a var, no other special char)[_@#$%^&*]
flt%var = 1

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-39-fe6bd8815e5d>, line 2)

### More data types [list, tuple, dictionary, set]

In [ ]:
groceries = ['Rice', 'Lentil', 'Onion', 'Oil']
print(type(groceries))
print(groceries)

<class 'list'>
['Rice', 'Lentil', 'Onion', 'Oil']

In [ ]:
groceries.append('Salt')
print(groceries)

['Rice', 'Lentil', 'Onion', 'Oil', 'Salt']

In [ ]:
groceries.append('Salt')
print(groceries)

['Rice', 'Lentil', 'Onion', 'Oil', 'Salt', 'Salt']

In [ ]:
groceries.remove('Oil')
print(groceries)

['Rice', 'Lentil', 'Onion', 'Salt', 'Salt']

In [ ]:
groceries.pop(2)
print(groceries)

['Rice', 'Lentil', 'Salt']

In [ ]:
groceries.insert(2, 'Oil')
print(groceries)

['Rice', 'Lentil', 'Oil', 'Salt']

In [ ]:
groceries.count('Onion')

0

In [ ]:
'Cumin' in groceries

False

In [ ]:
'Cumin' not in groceries

True

# Class_02



*   If-elif-else
*   List
*   for loop
*   Printing var with {}
*   Indentation
*   strings
*   Tuples
*   inputs

## if-elif-else statement

In [ ]:
name = 'Rahat'
if name != 'Rihat':
  print('Hello unknown!')

Hello unknown!

In [ ]:
name = 'Rahat'

if name == 'Sony':
  print('Hello Sony')
elif name == 'Risita':
  print('Hello Risita')
else:
  print('Who are you then?')

Who are you then?

## Printing in a different way

In [ ]:
name = 'Qahat'
age = 25
print(f'My name is {name}. I am {age} years old')

My name is Qahat. I am 25 years old

## Solving a problem with for, if-else, and list update statement

In [ ]:
groceries = ['Rice', 'Dal', 'Onion', 'Oil']
groceries[3] = 'Soya-oil'
groceries

['Rice', 'Dal', 'Onion', 'Soya-oil']

In [ ]:
groceries = ['Dal','Rice', 'Dal', 'Onion','Dal', 'Oil','Dal', 'Dal']

# print(groceries[0])
# print(groceries[1])
# print(groceries[2])
# print(groceries[3])

for item in groceries:
  print(item)

### Replace all the 'Dal' with 'Lentil' for the given list
groceries = ['Dal','Rice', 'Dal', 'Onion','Dal', 'Oil','Dal', 'Dal']

In [ ]:
range?

In [ ]:
print?

In [ ]:
groceries = ['Dal','Rice', 'Dal', 'Onion','Dal', 'Oil','Dal', 'Dal']
list_len = len(groceries)
for index in range(list_len):
  if groceries[index] == 'Dal':
    groceries[index] = 'Lentil'
print(groceries)

['Lentil', 'Rice', 'Lentil', 'Onion', 'Lentil', 'Oil', 'Lentil', 'Lentil']

In [ ]:
enumerate?

In [ ]:
groceries = ['Dal','Rice', 'Dal', 'Onion','Dal', 'Oil','Dal', 'Dal']
for index, item in enumerate(groceries):
  # print(f'Item in {index} is: {groceries[index]}')
  # print(groceries[index])
  if item == 'Dal':
    groceries[index] = 'Lentil'
  print(index, item)
print(groceries)

0 Dal
1 Rice
2 Dal
3 Onion
4 Dal
5 Oil
6 Dal
7 Dal
['Dal', 'Rice', 'Dal', 'Onion', 'Dal', 'Oil', 'Dal', 'Dal']

## Indentation

In [ ]:
for i in range(4):
  print('Inside block')
print('Outside block')
if i == 2:
  print('Here you go 2')

Inside block
Inside block
Inside block
Inside block
Outside block

In [ ]:
print(i)

3

## List

In [ ]:
groceries = ['Rice', 'Dal', 'Onion', 'Oil']

### List manipulation

In [ ]:
random_obj_list = [1, 'hi', 2.40, groceries]
random_obj_list

[1, 'hi', 2.4, ['Rice', 'Dal', 'Onion', 'Oil']]

In [ ]:
range?

In [ ]:
print(range(2, 5, 2))

range(2, 5, 2)

In [ ]:
student_marks_of_PP_02 = list(range(5,15,1))
# student_marks_of_PP_02 = list(range(5))
# student_marks_of_PP_02 = list(range(0, 5, 2))
print(student_marks_of_PP_02)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
len(student_marks_of_PP_02)

10

In [ ]:
student_marks_of_PP_02[4]

9

In [ ]:
student_marks_of_PP_02[0:4]

[5, 6, 7, 8]

In [ ]:
student_marks_of_PP_02[-5:-1]

[10, 11, 12, 13]

In [ ]:
student_marks_of_PP_02[-1:-5]

[]

In [ ]:
student_marks_of_PP_02[-5:]

[10, 11, 12, 13, 14]

In [ ]:
student_marks_of_PP_02[:-5]

[5, 6, 7, 8, 9]

In [ ]:
student_marks_of_PP_02[:]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
print(student_marks_of_PP_02)
student_marks_of_PP_02[:5:3]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

[5, 8]

In [ ]:
student_marks_of_PP_02.remove(82)
student_marks_of_PP_02.remove(85)
student_marks_of_PP_02.remove(87)

In [ ]:
student_marks_of_PP_02

[80, 81, 83, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
82 in student_marks_of_PP_02

False

In [ ]:
list_1 = student_marks_of_PP_02[0:3]
list_2 = student_marks_of_PP_02[-3:]
added_list = list_1 + list_2
print(list_1, list_2)
print(added_list)

[5, 6, 7] [12, 13, 14]
[5, 6, 7, 12, 13, 14]

In [ ]:
print(len(student_marks_of_PP_02))
print(max(student_marks_of_PP_02))
print(min(student_marks_of_PP_02))

5
13
5

In [ ]:
print(student_marks_of_PP_02)
student_marks_of_PP_02[2] = 150
print(student_marks_of_PP_02)

[5, 7, 9, 11, 13]
[5, 7, 150, 11, 13]

In [ ]:
print(student_marks_of_PP_02)
student_marks_of_PP_02[2:5] = [57,85,34]
student_marks_of_PP_02

[5, 7, 150, 11, 13]

[5, 7, 57, 85, 34]

In [ ]:
# student_marks_of_PP_02.sort()
student_marks_of_PP_02.sort(reverse = True)
print(student_marks_of_PP_02)

[85, 57, 34, 7, 5]

In [ ]:
student_marks_of_PP_02

[85, 57, 34, 14, 13, 12, 11, 10, 6, 5]

## String manipulation with : operator

In [ ]:
plain_text = 'My name is Joy'
plain_text[:2] + plain_text[-3:]

'MyJoy'

## Tuple

In [ ]:
my_first_tuple = (3.1416, 9.81, 365, 30, 7, 24)
print(my_first_tuple[0])

(3.1416, 9.81, 365, 30, 7, 7, 24)

In [ ]:
print(my_first_tuple[0:2])
print(my_first_tuple[-2:])

(3.1416, 9.81)
(7, 24)

In [ ]:
# Tuples are immutable
my_first_tuple[1] = 4.9

TypeError: 'tuple' object does not support item assignment

## Inputs

In [ ]:
name = input("What is your name? ")
print(f"Hello! {name}")

What is your name? 10
Hello! 10

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
first_num = "100.1"
second_num = "200"
first_num_in_int = float(first_num)
second_num_in_int = int(second_num)
sum = first_num_in_int + second_num_in_int
print(type(sum), sum)

<class 'float'> 300.1

In [ ]:
side_of_square = input("Give length of a side of a square: ")
print(type(side_of_square))
square_area = int(side_of_square) * int(side_of_square)
print(f'Here is the area of your square: {square_area}')

Give length of a side of a square: 13
<class 'str'>
Here is the area of your square: 169

# Class_02_continued

* print with argument passing
* operators & operand
* import statement
* argument
* Errors: syntax, runtime, semantic

## Print() function

In [ ]:
a = 10
b = 10.5
c = " This is a number addition "
name = "Printer"
print(a, b, sep = "||", end="-->")
print(a, b, sep = "||")
# print(a, b, sep=" + ", end = "\n")
# print('=', a+b)

10||10.5-->10||10.5

In [ ]:
print('Rakib\'s friend is tonmoy\n')
# print('Rakib\'s friend is tonmoy\n', end='')
print('Ashik\'s friend is Rakib')

Rakib's friend is tonmoy

Ashik's friend is Rakib

## Operators and operands

In [ ]:
print(2 + 5)
print(2 - 5)
print(2 * 5)
print(2 / 5)

7
-3
10
0.4

In [ ]:
a = 10
b = 3


# a = a % b
# a %= b
a += b

print(a)

13

In [ ]:
a = 10
b = 3
# a == b
# a != b
# a > b
# a < b
a <= b

False

### Operator and operand

#### Arithmatic operators

In [ ]:
print(2 + 4)
print(2 - 4)
print(2 * 4)
print(2 / 4)
print(5 // 4)

# 2^5
print(2 ** 5)

# 5 mod 2 = 1
print(5 % 2)

6
-2
8
0.5
1

In [ ]:
# Integer Divison
print(9 // 2, type(9//5))

4 <class 'int'>

## Expressions and statements
So far, we’ve seen a few kinds of expressions. An expression can be a single value, like an integer, floating-point number, or string. It can also be a collection of values and operators. And it can include variable names and function calls. Here’s an expression that includes several of these elements.

In [ ]:
n = 17
19 + n + 3 * 2

42

We have also seen a few kind of statements. A statement is a unit of code that has an effect, but no value. For example, an assignment statement creates a variable and gives it a value, but the statement itself has no value.

In [ ]:
n = 17


Similarly, an import statement has an effect – it imports a module so we can use the variables and functions it contains – but it has no visible effect.

In [ ]:
import math
print(math.pi)

3.141592653589793

Computing the value of an expression is called evaluation. Running a statement is called execution.

In [ ]:
# Assignment operator
# Statement
a = 10
b = 10.5

# Expression
print(10/5)

#### Logical operator

In [ ]:
a = 5
b = 6
if a > 2 and b<9:
  print("a > 2 and b is less than 9")

if a > 7 or b<9:
  print("a > 7 or b is less than 9")

if True and False:
  print('Everything is true')

if not False or False:
  print('Any one is true')

a > 2 and b is less than 9
a > 7 or b is less than 9
Any one is true

In [ ]:
x = 4
y = 5

if x == y:
  print("x equals y")

if x != y:
  print("x not equals y")

x not equals y

In [ ]:
list_a = [1,2,3]
list_b = [1,2,3]

list_c = list_a
print(list_a, list_b, list_c)

if list_a == list_b:
  print("list_a equals list_b")

[1, 2, 3] [1, 2, 3] [1, 2, 3]
list_a equals list_b

In [ ]:
if list_a is list_c:
  print("same reference")

same reference

In [ ]:
if list_a is list_c:
  print("List_a and list_c has same address")

if list_a is not list_b:
  print("List_a and list_b has not same address")

list_c[2] = 100
print(list_a, list_c)

List_a and list_c has same address
List_a and list_b has not same address
[1, 2, 100] [1, 2, 100]

#### Membership operator

In [ ]:
string = "I am Bangladesh"
search = "Bangladesh"
list_1 = [1,2,3,4,5]

print(search in string)

print(6 not in list_1)
print(1 in list_1)

True
True
True

In [ ]:
list_1 = [1,2,3,4,5]
print(7 not in list_1)

True

#### Ternary Operation

In [ ]:
a = 10
b = 10

if a == b:
  print('a equals b')
else:
  print('a not equal b')

a equals b

In [ ]:
# Ternary operation
print('a equals b') if a == b else print('a not equal b')

a equals b

In [ ]:
if a == b:
  print('a equals b')
else:
  if a > b:
    print('a is greater than b')
  else:
    print('b is greater than a')

## import a module

In [ ]:
import math
print(math.pi)

# 2^5 ==> 2**5
print(math.pow(2,5))

3.141592653589793
32.0

In [ ]:
print(math.floor(1.22334))

1

In [ ]:
print(math.ceil(1.22334))

2

In [ ]:
import math

In [ ]:
print(math.ceil(1.22334))

2

In [ ]:
print(math.round(1.22334))

AttributeError: module 'math' has no attribute 'round'

In [ ]:
print(round(1.34))
print(round(1.54))

1
2

## Debugging
Three kinds of errors can occur in a program: `syntax errors, runtime errors, and semantic errors`. It is useful to distinguish between them in order to track them down more quickly.

**Syntax error:** “Syntax” refers to the structure of a program and the rules about that structure. If there is a syntax error anywhere in your program, Python does not run the program. It displays an error message immediately.

**Runtime error**: If there are no syntax errors in your program, it can start running. But if something goes wrong, Python displays an error message and stops. This type of error is called a runtime error. It is also called an exception because it indicates that something exceptional has happened.

**Semantic error:** The third type of error is “semantic”, which means related to meaning. If there is a semantic error in your program, it runs without generating error messages, but it does not do what you intended. Identifying semantic errors can be tricky because it requires you to work backward by looking at the output of the program and trying to figure out what it is doing.

As we’ve seen, an illegal variable name is a syntax error.

### Errros

In [ ]:
million! = 1000000

SyntaxError: invalid syntax (<ipython-input-86-0539b52dc75a>, line 1)

In [ ]:
print(i am a student)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-87-924f08a9d875>, line 1)

If you use an operator with a type/value it doesn’t support, that’s a runtime error.

In [ ]:
print(2/0)

ZeroDivisionError: division by zero

Finally, here’s an example of a semantic error.

In [ ]:
a = 10
b = 5
if a != b:
  print("a is equal b")

a is equal b

## Play with loop

In [ ]:
for i in range(3):
  for j in range(3):
    print(i,j, end=" | ")
  print()

0 0 | 0 1 | 0 2 |
1 0 | 1 1 | 1 2 |
2 0 | 2 1 | 2 2 |

In [ ]:
for i in range(3):
  for j in range(3):
    if i == j:
      print("*", end="")
    else:
      print("_",end="")
  print()

*__
_*_
__*

# Class_04



*   Functions
*   parameters, arguments, function calling
*   function naming
*   Solving a problem with function
*   local & global var

In [ ]:
int?

In [ ]:
a = 5.6
a = int(a)
print(a)

5

In [ ]:
def get_name(): #header
  # body
  # ...
  return 'Kausar'

In [ ]:
get_name()

'Kausar'

In [ ]:
sum?

In [ ]:
# parameters
def sum(a,b):
  return(a+b)

In [ ]:
sum(2, 3)
print()

In [ ]:
def sum_of_three(a,b,c):
  sum_of_two = sum(a,b)
  sum_of_all = sum(sum_of_two, c)
  return(sum_of_all)

In [ ]:
# arguments
total_sum = sum_of_three(5,100,-45)
print(total_sum)

60

In [ ]:
return_val = sum(1,2)
print('return_val', return_val)

return_val 3

## Local & global variable

In [ ]:
x = 10

In [ ]:
def sum(a,b):
  c = a+b+x
  # print(f"c = {c}")
  return c

In [ ]:
total = sum(1,2)
# print(f"c = {c}")
print(f"total = {total}")

total = 13

In [ ]:
def sum_with_pi(a):
  c = a+pi
  print(f"c = {c}")

In [ ]:
pi = 3.1416
sum_with_pi(100)

c = 103.1416

## Function naming(same as var naming)

In [ ]:
def sum():
  return 0

# def sum 1():
#   return 0


# def 1sum():
#   return 0

In [ ]:
def conditionalCheck(n, m):
  if n < m:
    print("n is smaller")
  if m < n:
    print("m is smaller")

## keywords are not valid for any kinds of naming(var, fun...)
**Keywords in Python include:** *False, True, None, and, as, assert, async, await, def, del, elif, else, break, class, continue, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with and yield.*

In [ ]:
def True():
  return 0

SyntaxError: invalid syntax (<ipython-input-40-e61b58b8e1e5>, line 1)

# Class_04_exercise

* break & continue
* else clause for loops
* string manipulation with methods
* split
* Taking multiple user input at once
* **Exercise**:
```python
distance(x1,y1,x2,y2),
isDivisible(dividend, divisor),
factorial(n),
find_num_index(num_list, n)
count_odd_numbers(num_list),
```
* **Project**: Make a calculator by taking user input

## factorial()

In [ ]:
# 5! = 5*4*3*2*1
def factorial(n):
  factorial_val = 1
  for i in range(n, 0):
    factorial_val *= i
    print('inside loop:', i)
  return factorial_val

In [ ]:
i = 0
while i < 5:
  print(i)
  i+=1
  print('Does the loop ends here?')
print('Or does the loop ends here???')

0
Does the loop ends here?
1
Does the loop ends here?
2
Does the loop ends here?
3
Does the loop ends here?
4
Does the loop ends here?
Or does the loop ends here???

In [ ]:
result = factorial(5)
print(result)

1

In [ ]:
x = 2
if x % 2 == 0:
  print(f'x = {x} is a even number')

## break and continue statement

In [ ]:
num_list = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]
print(len(num_list))

100

In [ ]:
# TASK#01: Find out the first index of 412 from the num_list => find_num_index(n)
def find_num_index(search_num):
  index = 0
  for num in num_list:
    print(index)
    if num == search_num:
      print(f"{search_num} index in the list: {index}")
      break
    index += 1

In [ ]:
find_num_index(412)

In [ ]:
# TASK#02: Find out count of odd numbers num_list
num_list = range(2,8)
print(*num_list)

def count_odd_num():
  count = 0
  for num in num_list:
    print(num)
    if num % 2 == 0:
      print(num, 'Before continue')
      continue
      print('After continue')

    print('Outside if clause')

    count += 1
  return count

count = count_odd_num()

print('# of Odd numbers in list: ', count)

2 3 4 5 6 7
2
2 Before continue
3
Outside if clause
4
4 Before continue
5
Outside if clause
6
6 Before continue
7
Outside if clause
# of Odd numbers in list:  3

In [ ]:
# else clause in for loops
for i in range(1,3):
  print(i)
  # continue
else:
  print('For ends and now else is in run')

1
2
For ends and now else is in run

## split function

In [ ]:
random_str = "I am python. I am almost 28 years old."
# print(type(random_str))
# print(random_str[2:5])
# print('pythn' in random_str)
# print(random_str[::-1])
# print(random_str.startswith('I'))
# print(random_str.endswith('old'))
print(random_str.split("."))

['I am python', ' I am almost 28 years old', '']

## Task#03: Make a calculator taking user inputs

In [ ]:
operation = input('Enter +,-,/,*: ')
inputs = input('Enter two numbers: ')

Enter +,-,/,*: +
Enter two numbers: 2 4

In [ ]:
print(operation, inputs)

+ 2 4

In [ ]:
numbers = inputs.split(' ')
x = int(numbers[0])
y = int(numbers[1])
x,y

(2, 3)


# Class_04_continued

* map
* returning multiple value from a function
* packing and unpacking arguments
* Recursion with countdown function
* Now, print a string n times with recursion without using for loop

## processing user input with map

In [ ]:
operation = input('Enter +,-,/,*: ')
inputs = input('Enter two numbers: ')

Enter +,-,/,*: +
Enter two numbers: 123 45

In [ ]:
print(operation, inputs)
print(type(inputs))

+ 123 45
<class 'str'>

In [ ]:
# @title input porcessing with type-casting
numbers = inputs.split(' ')
x = int(numbers[0])
y = int(numbers[1])
x,y, type(x)

(123, 45, int)

In [ ]:
type(inputs), inputs.split()

(str, ['123', '45'])

In [ ]:
user_input = input("Input as many number as you want: ")
print(user_input.split(" "))

Input as many number as you want: 345 45 2
['345', '45', '2']

In [ ]:
user_input_list = user_input.split(" ")
print(user_input_list)

['345', '45', '2']

In [ ]:
int_list = []
for num in user_input_list:
  a = int(num)
  int_list.append(a)
  print(a, type(a))
print(int_list)

345 <class 'int'>
45 <class 'int'>
2 <class 'int'>
[345, 45, 2]

In [ ]:
map_obj = map(int, user_input_list)
print(map_obj)

<map object at 0x7f9f357bdde0>

In [ ]:
print(list(map_obj))

[345, 45, 2]

In [ ]:
list(map(int, user_input.split()))

[2, 3, 5, 7, 5]

In [ ]:
# inputs, type(inputs)
input_list = map(int, inputs.split())
print(type(input_list), list(input_list))

<class 'map'> [234, 56]

In [ ]:
def character_count(word):
  return len(word)

In [ ]:
print(character_count('This'))

4

In [ ]:
a_random_string = "This is class of pp02"

In [ ]:
word_list_of_random_string = a_random_string.split(" ")
print(word_list_of_random_string)

['This', 'is', 'class', 'of', 'pp02']

In [ ]:
for word in word_list_of_random_string:
  print(character_count(word))

4
2
5
2
4

In [ ]:
char_count_of_random_string = map(character_count, word_list_of_random_string)
print(char_count_of_random_string)

<map object at 0x7f9f35827a60>

In [ ]:
print(list(char_count_of_random_string))

[4, 2, 5, 2, 4]

In [ ]:
user_input = input("Enter three numbers: ")
print(user_input, type(user_input))
user_input_list = list(map(int, user_input.split(" ")))
print(user_input_list)

Enter three numbers: 34 54 23
34 54 23 <class 'str'>
[34, 54, 23]

## unpacking

In [ ]:
def sum(a, b , c):
  return a+b+c

In [ ]:
user_input_list = [1, 5, 9]
first_num, *rest = user_input_list
print(first_num, rest)

1 [5, 9]

In [ ]:
user_input_list = [1, 5, 9]
total = sum(*user_input_list)

In [ ]:
total

15

In [ ]:
print(user_input_list, *user_input_list)

[34, 65, 1] 34 65 1

In [ ]:
fruits_list = ["banana", "apple", "Licchi"]
first_one, *rest = fruits_list
print(first_one, rest)

banana ['apple', 'Licchi']

## packing

In [ ]:
user_input = input("Enter as many numbers as you wish: ")
user_input_list = list(map(int, user_input.split(" ")))
print(user_input_list)

Enter as many numbers as you wish: 1 2 3 4 5
[1, 2, 3, 4, 5]

In [ ]:
def sumOfTwo(a,b):
  return a+b

In [ ]:
def sum(a, b, *any_num_args):
  print(type(any_num_args), any_num_args)
  total = 0
  for num in any_num_args:
    print('Current num:', num)
    total += num
  return total

In [ ]:
sum(1,4,5)

<class 'tuple'> (5,)
Current num: 5

5

In [ ]:
sum(*user_input_list)
print('Hey, I am back!!!!!!!!!!!!!!')

Hey!, you called the sum() function
<class 'tuple'> (1, 2, 3, 4, 5)
Current num: 1
Current num: 2
Current num: 3
Current num: 4
Current num: 5
Hey!, I am still in the sum() function
Hey, I am back!!!!!!!!!!!!!!

## returning multiple value from a function

In [ ]:
def user_input_for_calculation():
  operator = input('Enter +,-,*,/: ')
  numbers = input('Enter numbers: ')
  return operator, numbers, 10

In [ ]:
operation, *return_val = user_input_for_calculation()
print(operation, return_val)

Enter +,-,*,/: +
Enter numbers: 34 56 78
+ ['34 56 78', 10]

In [ ]:
operator, numbers

('+', '1 2 3 4 ')

# Class_05

* set, dict
* exception handling while taking inputs

## Dictionary

In [ ]:
PDS_10_dict = {
    'title': 'Python class of PDS10 batch',
    'no_of_students' : 25,
    'location': 'IICT,SUST',
    'id': [1, 2, 3]
}

In [ ]:
PDS_10_dict

{'title': 'Python class of PDS10 batch',
 'no_of_students': 25,
 'location': 'IICT,SUST',
 'id': [1, 2, 3]}

In [ ]:
my_dict = dict(name = 'PP02', age = '9', birth_place =  'IICT, SUST')

In [ ]:
my_dict

{'name': 'PP02', 'age': '9', 'birth_place': 'IICT, SUST'}

### Accessing dict value by keys

In [ ]:
print(my_dict['no_of_students'])

In [ ]:
name = my_dict.get('name', -1)
print(name)

PP02

### Modifying dict

In [ ]:
my_dict['start_date'] = '17-12-24'
print(my_dict)

{'name': 'PP02', 'age': '9', 'birth_place': 'IICT, SUST', 'start_date': '17-12-24'}

In [ ]:
my_dict['no_of_students'] = 25
print(my_dict)

{'name': 'PP02', 'age': '9', 'birth_place': 'IICT, SUST', 'start_date': '17-12-24', 'no_of_students': 25}

In [ ]:
my_dict

{'name': 'PP02', 'age': '9', 'birth_place': 'IICT, SUST'}

In [ ]:
deleted_name = my_dict.pop()
print(deleted_name)

TypeError: pop expected at least 1 argument, got 0

In [ ]:
my_dict

{'birth_place': 'IICT, SUST', 'start_date': '17-12-24'}

In [ ]:
del my_dict['start_date']
print(my_dict)

{'birth_place': 'IICT, SUST'}

### dict methods

In [ ]:
print(PDS_10_dict)

{'title': 'Python class of PDS10 batch', 'no_of_students': 25, 'location': 'IICT,SUST', 'id': [1, 2, 3]}

In [ ]:
keys = PDS_10_dict.keys()
keys

dict_keys(['title', 'no_of_students', 'location', 'id'])

In [ ]:
values = PDS_10_dict.values()
values, type(values)

(dict_values(['Python class of PDS10 batch', 25, 'IICT,SUST', [1, 2, 3]]),
 dict_values)

In [ ]:
items = PDS_10_dict.items()
items

dict_items([('title', 'Python class of PDS10 batch'), ('no_of_students', 25), ('location', 'IICT,SUST'), ('id', [1, 2, 3])])

In [ ]:
for key in PDS_10_dict.keys():
  print(key,':', PDS_10_dict[key])

title : Python class of PDS10 batch
no_of_students : 25
location : IICT,SUST
id : [1, 2, 3]

In [ ]:
for item in PDS_10_dict.items():
  print(item, type(item))

('title', 'Python class of PDS10 batch') <class 'tuple'>
('no_of_students', 25) <class 'tuple'>
('location', 'IICT,SUST') <class 'tuple'>
('id', [1, 2, 3]) <class 'tuple'>

In [ ]:
PDS_10_dict

{'title': 'Python class of PDS10 batch',
 'no_of_students': 25,
 'location': 'IICT,SUST',
 'id': [1, 2, 3]}

In [ ]:
PDS_10_dict.update({'title': 'PDS-10 ', 'location': 'SUST'})
print(PDS_10_dict)

{'title': 'PDS-10 ', 'no_of_students': 25, 'location': 'SUST', 'id': [1, 2, 3]}

In [ ]:
# Iterating over the keys
for key in PDS_10_dict.keys():
  print(f"{key} : {PDS_10_dict[key]}")

title : PDS-10
no_of_students : 25
location : SUST
id : [1, 2, 3]

In [ ]:
# iteraing over values of dict
for value in PDS_10_dict.values():
  print(f"{value}")

PDS-10
25
SUST
[1, 2, 3]

In [ ]:
PDS_10_dict.items?

In [ ]:
PDS_10_dict.items()

dict_items([('title', 'PDS-10 '), ('no_of_students', 25), ('location', 'SUST'), ('id', [1, 2, 3])])

In [ ]:
for item in PDS_10_dict.items():
  print(item)

('title', 'PDS-10 ')
('no_of_students', 25)
('location', 'SUST')
('id', [1, 2, 3])

In [ ]:
for key, value in PDS_10_dict.items():
  print(key, value)

title PDS-10
no_of_students 25
location SUST
id [1, 2, 3]

### Problem 1: Analyzing Employee Attendance  
**Problem Statement:**  
You are the HR manager of a company. A CSV file, `attendance.csv`, contains data on employee attendance. The file has the following columns: `EmployeeID`, `Date`, and `Status` (where Status is either "Present" or "Absent"). Write a Python program to calculate the following:  
1. Total days each employee was present.  
2. The employee with the highest attendance.  
3. The percentage of days attended for each employee.  

Use a dictionary to store results, and ensure you handle any errors in reading the file.  

---

### Problem 2: Sales Performance Tracker  
**Problem Statement:**  
You are tasked with analyzing sales data from a CSV file, `sales_data.csv`. The file has columns: `ProductID`, `Region`, `SalesAmount`, and `Date`. Write a Python program to:  
1. Calculate the total sales for each product.  
2. Determine the region with the highest total sales.  
3. Find the product with the highest sales in a specific region provided by the user.  

Ensure you handle missing data appropriately and prompt the user for any required inputs. Display results in a user-friendly format.

In [ ]:
import csv

In [ ]:
attendance_list = []

In [ ]:
for i in range(5):
  attendance_list.append(i)

In [ ]:
attendance_list

[0, 1, 2, 3, 4]

In [ ]:
attendance_list = []

In [ ]:
with open('/content/attendance.csv', 'r') as f:
  file_data = csv.reader(f)
  for row in file_data:
    attendance_list.append(row)
    print(row)

In [ ]:
len(attendance_list)

101

In [ ]:
present_count = 0
absent_count = 0
for row in attendance_list:
  if row[0] == 'E012' and row[2] == 'Absent':
    absent_count = absent_count + 1
  elif row[0] == 'E012' and row[2] == 'Present':
    present_count = present_count + 1

present_count, absent_count

(7, 1)

In [ ]:
attendance_list[0:5]

[['EmployeeID', 'Date', 'Status'],
 ['E007', '2025-04-09', 'Absent'],
 ['E020', '2025-02-13', 'Present'],
 ['E015', '2025-03-27', 'Present'],
 ['E011', '2025-04-01', 'Present']]

In [ ]:
# Calculating each empolyees total attandance storing in a dict
employee_attendance = {}
index = 0
for row in attendance_list:
  if index == 0: # Skipping header
    index = index + 1
    continue
  print(row)
  if row[0] in employee_attendance.keys():
    if row[2] == 'Present':
      employee_attendance[row[0]] = employee_attendance[row[0]] + 1
  else:
    if row[2] == 'Present':
      employee_attendance[row[0]] = 1

In [ ]:
employee_attendance

In [ ]:
len(num_list)

8

In [ ]:
num_list = [1, 1, 2, 3, 6, 4, 3]

In [ ]:
unique_list = []
for num in num_list:
  if num not in unique_list:
    unique_list.append(num)

In [ ]:
unique_list

[1, 2, 3, 4, 6, 9]

In [ ]:
num_list = [1, 2, 1, 3, 4, 6, 6, 9]

In [ ]:
count_dict = {}

In [ ]:
count_dict.keys()

dict_keys([])

In [ ]:
2 in count_dict.keys()

False

In [ ]:
count_dict[2] = 1

In [ ]:
for num in num_list:
  print(num)
  if num in count_dict.keys():
    count_dict[num] = count_dict[num] + 1
  else:
    count_dict[num] = 1

1
2
1
3
4
6
6
9

In [ ]:
count_dict

{1: 2, 2: 1, 3: 1, 4: 1, 6: 2, 9: 1}

In [ ]:
count = 0
for unique_item in unique_list:
  count = 0
  print(unique_item, end = " ")
  for num in num_list:
    if unique_item == num:
      count = count + 1
  print("found(times): ", count)

1 found(times):  2
2 found(times):  1
3 found(times):  1
4 found(times):  1
6 found(times):  2
9 found(times):  1

# Class_06

## Set



![set](https://media.geeksforgeeks.org/wp-content/uploads/20240619161350/Set-Operations.webp)

In [ ]:
first_set = {1,2,3,4}
print(first_set, type(first_set))

{1, 2, 3, 4} <class 'set'>

In [ ]:
duplicate_item_in_set = {1, 1, 2, 4}
print(duplicate_item_in_set, type(duplicate_item_in_set))

{1, 2, 4} <class 'set'>

In [ ]:
unq_set = {4, 1, 2, 3, 4, 5}
print(unq_set, type(unq_set))

my_set = set(['a', 'b', 'c', 'd'])
print(my_set)

{1, 2, 3, 4, 5} <class 'set'>
{'c', 'b', 'd', 'a'}

In [ ]:
unq_set = {1, 2, 65, 129, 3, 4}
print(unq_set)

{65, 2, 3, 129, 1, 4}

### Set manipulation

![Set in py](https://pynative.com/wp-content/uploads/2021/03/python-sets.jpg)

In [ ]:
unq_set[0] = 5
print(unq_set)

TypeError: 'set' object does not support item assignment

In [ ]:
num_set = {1, 2, 3, 4, 67}
print("First print:", num_set)

First print: {1, 2, 3, 67, 4}

In [ ]:
my_set.add('e')
my_set

{'a', 'b', 'c', 'd', 'e'}

In [ ]:
my_set.add('e')
my_set

{'a', 'b', 'c', 'd', 'e'}

In [ ]:
my_set.update(['f','e','n'])
my_set

{'a', 'b', 'c', 'd', 'e', 'f', 'n'}

In [ ]:
my_set.remove('c')

In [ ]:
my_set

{'a', 'b', 'd', 'e', 'f', 'n'}

In [ ]:
my_set.remove('c')
my_set

KeyError: 'c'

In [ ]:
my_set.discard('b')
my_set

{'a', 'd', 'e', 'f', 'n'}

In [ ]:
my_set.discard('c')
my_set

{'a', 'd', 'e', 'f', 'n'}

In [ ]:
my_set.clear()
my_set

set()

In [ ]:
my_set

set()

### Set operation

In [ ]:
A = {1,2,3}
B = {3,4,5}

In [ ]:
A_union_B = A.union(B)
print(A_union_B)

{1, 2, 3, 4, 5}

In [ ]:
A_intersect_B = A.intersection(B)
print(A_intersect_B)

{3}

In [ ]:
A_difference_B = A.difference(B)
print(A_difference_B)

{1, 2}

### Set comaprisions

In [ ]:
A = {1,2,3}
B = {1,2}
print(B.issubset(A))
print(A.issuperset(B))
print(A == B)

True
True
False

### Accessing set items

In [ ]:
my_set = set(['a', 'b', 'c', 'd'])
print(my_set)

for item in my_set:
  print(item)

{'c', 'b', 'd', 'a'}
c
b
d
a

## Exercise

Problem Statement-01

You have two sets of email addresses: one from a newsletter signup form and another from a purchase form on your website. Write a program to find and print the email addresses that appear in both sets.

`email_subs_inqilab = {}`

`email_subs_jonokontho = {}`

### Problem Statement-02

**Student Grades Analyzer**

Write a Python program to help a teacher analyze student grades. The program should:

1. **Input Student Data:**
   - Ask for the number of students.
   - For each student, input their name and a list of at least 3 grades separated by spaces.

2. **Calculate Average Grade:**
   - Create a function `calculate_average(grades)` to return the average of a list of grades.

3. **Determine Pass/Fail:**
   - Create a function `determine_pass_fail(average)` to return "Pass" if the average is 60 or above, otherwise "Fail".

4. **Find Highest and Lowest Grades:**
   - Create a function `find_highest_lowest(grades)` to return the highest and lowest grades as a tuple.

5. **Display Results:**
   - For each student, print their name, average grade, pass/fail status, highest grade, and lowest grade.

### Example Interaction

```
Enter the number of students: 2
Enter the name of student 1: Alice
Enter the grades for Alice (separated by spaces): 75 88 92
Enter the name of student 2: Bob
Enter the grades for Bob (separated by spaces): 59 61 65

Student: Alice
Average Grade: 85.0
Status: Pass
Highest Grade: 92
Lowest Grade: 75

Student: Bob
Average Grade: 61.67
Status: Pass
Highest Grade: 65
Lowest Grade: 59
```

### Requirements

1. Use a dict to store student info(imagine that all the students have unique name)
2. Use lists to store grades.
2. Use tuples for the highest and lowest grades.
3. Implement and use `calculate_average`, `determine_pass_fail`, and `find_highest_lowest` functions.
4. Use for and while loops.

### Problem Statement-03
You are organizing a coding competition. Write a program that takes a list of participants, where each participant is represented by a dictionary with keys "name" and "score". Calculate the average score and print a congratulatory message for participants who scored above the average.

```
Enter the number of participants: 5

Enter the name of participant 1: Alice
Enter the score of Alice: 85

Enter the name of participant 2: Bob
Enter the score of Bob: 78

Enter the name of participant 3: Charlie
Enter the score of Charlie: 92

Enter the name of participant 4: Diana
Enter the score of Diana: 68

Enter the name of participant 5: Eve
Enter the score of Eve: 74

The average score is: 79.40

Congratulations to the participants who scored above the average:
Congratulations Alice! Your score of 85 is above the average.
Congratulations Charlie! Your score of 92 is above the average.
```

# Class_05_continued

*   Recap of print with format method
*   Operator & Operand
*   Basic Operator in Python
*   Ternary Operator
*   Python membership and identity operator | in, not in, is, is not
*   Difference between == and is operator

### print function recap

In [ ]:
region = "Sylhet"
country = "Bangladesh"
print("We are from Sylhet, Bangladesh")
print(f"We are from {region}, {country}")
print("We are from {}, {}".format(region, country))
print("We are from {1}, {0}".format(region, country))
print("We are from {place}, {0}, {1}".format(region, country, place = "Akhalia"))

We are from Sylhet, Bangladesh
We are from Sylhet, Bangladesh
We are from Sylhet, Bangladesh
We are from Bangladesh, Sylhet
We are from Akhalia, Sylhet, Bangladesh

In [ ]:
net_balance = 12345.68910000
balance = 45.61
result = 1/3
print(result)

print("Your net balance is:{:.2f}".format(net_balance))
print("Your net balance is:{0:10.2f}".format(net_balance))
try:
  print("Your net balance is:{3:5.4f}".format(net_balance, balance, result))
except IndexError:
  print("Index Error")
except:
  print("Some another error")
print("Your net balance is:{0:10.4f}".format(net_balance))

0.3333333333333333
Your net balance is:12345.69
Your net balance is:  12345.69
Index Error
Your net balance is:12345.6891

### Exception handling

In [ ]:
a = int(input("Enter the numerator:"))
b = int(input("Enter the denominator:"))

try:
  dividend = a/b
  print(dividend)
except:
  print("Denomenetor can't be zero")

Enter the numerator:2
Enter the denominator:0
Denomenetor can't be zero

In [ ]:
try:
  a = int(input("Enter the numerator:"))
  b = int(input("Enter the denominator:"))
  dividend = a/b
  print(dividend)
except ZeroDivisionError:
  print("Denomenetor can't be zero")
except:
  print("Please enter some real numbers")

Enter the numerator:12
Enter the denominator:a
Please enter some real numbers

In [ ]:
list_5_numbers = list([1,2,3,4,5])
list_5_numbers[6]

IndexError: list index out of range

In [ ]:
list_a = list(map(int, input("Enter 5 numbers:").split()))
dividend = sum(list_a)/list_a[4]

Enter 5 numbers:1 2 3

IndexError: list index out of range

In [ ]:
try:
  list_a = list(map(int, input("Enter 5 numbers:").split()))
  # print("The last element from list:", list_a[4])
  dividend = sum(list_a)/list_a[4]

except ZeroDivisionError:
  print("Denomenetor can't be zero")
except IndexError:
  print("Please enter five numbers!")
except:
  print("Please enter some real numbers")

Enter 5 numbers:1 2 3
Please enter five numbers!

In [ ]:
try:
  list_a = list(map(int, input("Enter 5 numbers:").split()))
  assert len(list_a) == 5
  dividend = sum(list_a)/list_a[4]
  print(dividend)
except ZeroDivisionError:
  print("Denomenetor can't be zero")
except IndexError:
  print("Please enter five numbers!")
except AssertionError:
  print("Max 5 numbers")
except:
  print("Please enter some real numbers")
finally:
  print("Thank you!")

Enter 5 numbers:1 2 3 4 5 6
Max 5 numbers
Thank you!

# Class_06_continued

## Numpy

### What is NumPy?
- NumPy (Numerical Python) is a library used for numerical and matrix operations.
- It provides high-performance multidimensional arrays.
- Key Features:
  - Supports vectorized operations (faster than loops).
  - Ideal for mathematical and scientific computing.

![numpy array](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlS7G6ucV3VG3OQblbSREwxsHqVjdS31WzOAU3tky_Dj1FLA9qBRHVLsAI-DVTuaOa0EA&usqp=CAU)

### Creating Arrays

In [ ]:
import numpy as np

In [ ]:
# Creating a 1D array
arr1 = np.array([1, 2, 3])
print("1D Array:", arr1)

1D Array: [1 2 3]

In [ ]:
type(arr1), arr1.shape

(numpy.ndarray, (3,))

In [ ]:
# Creating a 2D array
arr2 = np.array([[1, 2], [3, 4],[4, 5], [5, 6]])
print("2D Array:\n", arr2, arr2.shape, arr2.ndim)

2D Array:
 [[1 2]
 [3 4]
 [4 5]
 [5 6]] (4, 2) 2

### ndarray
The `ndarray` is the core data structure of NumPy. It represents a multidimensional, homogeneous array of fixed-size items.

Key Properties:
1. `ndim`: Number of dimensions.
2. `shape`: Shape (size of each dimension).
3. `dtype`: Data type of the array elements.

In [ ]:
# Creating an ndarray
arr = np.array([[[1,2, 3], [2,3, 4]], [[3,4, 5], [4,5, 6]]])
print("Array:\n", arr)

# Properties of ndarray
print("Number of Dimensions:", arr.ndim)
print("Shape of Array:", arr.shape)
print("Data Type:", arr.dtype)

Array:
 [[[1 2 3]
  [2 3 4]]

 [[3 4 5]
  [4 5 6]]]
Number of Dimensions: 3
Shape of Array: (2, 2, 3)
Data Type: int64

### Data Type Objects (`dtype`)
The `dtype` object specifies the type of data stored in an array (e.g., integer, float, etc.).

Key Features:
1. Allows custom data types.
2. Supports advanced types like complex numbers and fixed-length strings.

In [ ]:
# Array with default integer dtype
arr = np.array([1, 2, 3], dtype="float64")
print("Default dtype:", arr, arr.dtype)

Default dtype: [1. 2. 3.] float64

In [ ]:
# Complex dtype
arr_complex = np.array([1 + 2j, 3 + 4j])
print("Complex dtype:", arr_complex.dtype)

Complex dtype: complex128

### Array Operations

In [ ]:
arr = np.array([1, 2, 3, 4])

In [ ]:
# Scaler operations
print("Array + 10:", arr + 10)
print("Array * 2:", arr * 2)

Array + 10: [11 12 13 14]
Array * 2: [2 4 6 8]

In [ ]:
arr = np.array([1, 2, 3, 4])

# Mathematical operations
print("Sum:", arr.sum())
print("Mean:", arr.mean())
print("Max:", arr.max())

Sum: 10
Mean: 2.5
Max: 4

In [ ]:
arr = np.array([1, 2, 3, 4])
arr2 = np.array([5, 6, 7, 8])

In [ ]:
# Element-wise operations
print("Addition:", arr + arr2)
print("Multiplication:", arr * arr2)

Addition: [ 6  8 10 12]
Multiplication: [ 5 12 21 32]

In [ ]:


# Scaler operations
print("Array + 10:", arr + 10)
print("Array * 2:", arr * 2)

# Mathematical operations
print("Sum:", arr.sum())
print("Mean:", arr.mean())
print("Max:", arr.max())

# Element-wise operations
print("Addition:", arr + arr2)
print("Multiplication:", arr * arr2)

Array + 10: [11 12 13 14]
Array * 2: [2 4 6 8]
Sum: 10
Mean: 2.5
Max: 4
Addition: [ 6  8 10 12]
Multiplication: [ 5 12 21 32]

### Array Slicing

In [ ]:
arr = np.array([10, 20, 30, 40, 50])
print("Original Array:", arr)

Original Array: [10 20 30 40 50]

In [ ]:
# Accessing elements
print("First Element:", arr[0])
print("Last Element:", arr[-1])

First Element: 10
Last Element: 50

In [ ]:
# Slicing
print("First 3 Elements:", arr[1:3])
print("Last 2 Elements:", arr[-2:])

First 3 Elements: [20 30]
Last 2 Elements: [40 50]

In [ ]:
arr = np.array([[10, 25],
                [15, 40],
                [50, 60]])
arr[0][0] = 20

In [ ]:
arr

array([[20, 25],
       [15, 40],
       [50, 60]])

### Advanced Indexing

In [ ]:
arr = np.array([[10, 25],
                [15, 40],
                [50, 60]])

print(arr.ndim)
print(arr.shape)

print("Specific Elements: ", arr[-1])

2
(3, 2)
Specific Elements:  [50 60]

In [ ]:
arr

array([[10, 25],
       [15, 40],
       [50, 60]])

In [ ]:
print("Boolean Masking:\n", arr > 20)

Boolean Masking:
 [[False  True]
 [False  True]
 [ True  True]]

In [ ]:
print("Boolean Masking Result:", arr[True].shape)

Boolean Masking Result: (1, 3, 2)

In [ ]:
for row in arr:
  for element in row:
    print(element, end=" ")
  print()

10 25
15 40
50 60

In [ ]:
arr > 20

### Exercise
1. Create a NumPy array of numbers from 1 to 10.
2. Multiply every element by 3.
3. Find the mean and maximum of the array.

## numpy_continued

In [ ]:
a = np.zeros((2,2))   # Create an array of all zeros
print(a)              # Prints "[[ 0.  0.]
                      #          [ 0.  0.]]"

[[0. 0.]
 [0. 0.]]

In [ ]:
b = np.ones((1,2))    # Create an array of all ones
print(b)              # Prints "[[ 1.  1.]]"

[[1. 1.]]

In [ ]:
c = np.full((2,2), 7)  # Create a constant array
print(c)               # Prints "[[ 7.  7.]
                       #          [ 7.  7.]]"

[[7 7]
 [7 7]]

In [ ]:
d = np.eye(2)         # Create a 2x2 identity matrix
print(d)              # Prints "[[ 1.  0.]
                      #          [ 0.  1.]]"

[[1. 0.]
 [0. 1.]]

In [ ]:
e = np.random.random((2,2))  # Create an array filled with random values
print(e)                     # Might print "[[ 0.91940167  0.08143941]
                             #               [ 0.68744134  0.87236687]]"

[[0.9726669  0.74282692]
 [0.04831467 0.85364121]]

In [ ]:
np.random.randint(10, size=(2, 4))

array([[5, 3, 6, 0],
       [0, 2, 5, 7]])

In [ ]:
# Create the following rank 2 array with shape (3, 4)
# [[ 1  2  3  4]
#  [ 5  6  7  8]
#  [ 9 10 11 12]]
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

In [ ]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
a[1]

array([5, 6, 7, 8])

In [ ]:
a[1:3]

array([[ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
# Accessing the data in the middle row of the array.
row_r1 = a[1, :]    # Rank 1 view of the second row of a
row_r2 = a[1:2, :]  # Rank 2 view of the second row of a
print(row_r1, row_r1.shape)  # Prints "[5 6 7 8] (4,)"
print(row_r2, row_r2.shape)  # Prints "[[5 6 7 8]] (1, 4)"

[5 6 7 8] (4,)
[[5 6 7 8]] (1, 4)

In [ ]:
a[:, 1:3]

array([[ 2,  3],
       [ 6,  7],
       [10, 11]])

In [ ]:
# We can make the same distinction when accessing columns of an array:
col_r1 = a[:, 1]
col_r2 = a[:, 1:2]
print(col_r1, col_r1.shape)  # Prints "[ 2  6 10] (3,)"
print(col_r2, col_r2.shape)  # Prints "[[ 2]
                             #          [ 6]
                             #          [10]] (3, 1)"

[ 2  6 10] (3,)
[[ 2]
 [ 6]
 [10]] (3, 1)

In [ ]:
nums = np.arange(1, 11)
nums*3

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [ ]:
nums = nums*3

In [ ]:
nums

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [ ]:
nums = np.arange(1, 11)

mult_nums = nums * 3

print(mult_nums.mean())
print(mult_nums.max())

16.5
30

In [ ]:
nums = np.arange(1, 11).reshape(2, 5)
nums.shape, nums

((2, 5),
 array([[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10]]))

In [ ]:
np.sum(nums, axis=0)

array([ 7,  9, 11, 13, 15])

### Iterating Over Arrays
You can iterate over an ndarray using Python loops. For multidimensional arrays:
1. Iterate row by row.
2. Use `nditer` for element-wise iteration.

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

# Row-wise iteration
for row in arr:
    print("Row:", row)

# Element-wise iteration
for element in np.nditer(arr):
    print("Element:", element)

Row: [1 2 3]
Row: [4 5 6]
Element: 1
Element: 2
Element: 3
Element: 4
Element: 5
Element: 6

### Linear Algebra
NumPy provides linear algebra functions like dot products, matrix multiplication, and determinants.

![Determinant]()

In [ ]:
arr1 = np.array([[1, 2], [3, 4]], dtype="float64")
arr2 = np.array([[5, 6], [7, 8]], dtype="float64")
arr1, arr2

(array([[1., 2.],
        [3., 4.]]),
 array([[5., 6.],
        [7., 8.]]))

In [ ]:
print("Dot\n",np.dot(arr1, arr2))

In [ ]:
print("Transpose\n",arr1.T)

Transpose
 [[1. 3.]
 [2. 4.]]

In [ ]:
print("Determinant", np.linalg.det(arr1))

Determinant -2.0000000000000004

In [ ]:
# Dot product
arr1 = np.array([[1, 2], [3, 4]])
arr2 = np.array([[5, 6], [7, 8]])
print("Dot Product:\n", np.dot(arr1, arr2))

# Transpose of a matrix
print("Transpose:\n", arr1.T)

# Determinant
print("Determinant:", np.linalg.det(arr1))

Dot Product:
 [[19 22]
 [43 50]]
Transpose:
 [[1 3]
 [2 4]]
Determinant: -2.0000000000000004

### Sorting, Searching, and Counting
NumPy provides functions to sort arrays, search for values, and count elements.

In [ ]:
arr = np.array([3, 1, 4, 1, 5, 9])

print("arr:", arr)

# Sorting
print("Sorted Array:", np.sort(arr, axis=0))

arr: [3 1 4 1 5 9]
Sorted Array: [1 1 3 4 5 9]

In [ ]:
# Searching
print("Index of 1:", np.where(arr == 1))

Index of 1: (array([1, 3]),)

In [ ]:
# Counting
print("Count of 1s:", np.count_nonzero(arr == 1))

Count of 1s: 2

In [ ]:
arr == 1

array([False,  True, False,  True, False, False])

### Exercise
1. Create a 2D NumPy array of random integers between 1 and 50.
2. Perform the following:
   - Find the mean of all elements.
   - Transpose the array.
   - Sort the array along rows.
   - Extract all elements greater than 25.
3. Perform matrix multiplication between the original and transposed array.

In [ ]:
rand_arr = np.random.randint(1, 51, size=(3,3))

print("Random Array\n", rand_arr)
print("Mean", rand_arr.mean())
print("Transpose\n", rand_arr.T)
print("Sorted along Rows\n", np.sort(rand_arr, axis=1))
print("Elements greater than 25\n", rand_arr[rand_arr > 25])

Random Array
 [[38 16 20]
 [30 12 27]
 [44 30 32]]
Mean 27.666666666666668
Transpose
 [[38 30 44]
 [16 12 30]
 [20 27 32]]
Sorted along Rows
 [[16 20 38]
 [12 27 30]
 [30 32 44]]
Elements greater than 25
 [38 30 27 44 30 32]

### broadcasting

In [ ]:
x = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
y = np.empty_like(x)
y, y.shape

(array([[95000625245096,              0,              0],
        [             0,              0,              0],
        [             0,              0,              0],
        [             0,              0,              0]]),
 (4, 3))

In [ ]:
v = np.array([1, 0, 1])
v

array([1, 0, 1])

In [ ]:
x.shape[0]

4

In [ ]:
for i in range(x.shape[0]):
  y[i,:] = x[i,:]+v
y

array([[ 2,  2,  4],
       [ 5,  5,  7],
       [ 8,  8, 10],
       [11, 11, 13]])

In [ ]:
x[0,:]

array([1, 2, 3])

In [ ]:
v_same_as_x = np.tile(v,(4,1))
v_same_as_x

array([[1, 0, 1],
       [1, 0, 1],
       [1, 0, 1],
       [1, 0, 1]])

In [ ]:
x+v_same_as_x

array([[ 2,  2,  4],
       [ 5,  5,  7],
       [ 8,  8, 10],
       [11, 11, 13]])

In [ ]:
x, v

(array([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]]),
 array([1, 0, 1]))

In [ ]:
x+v

array([[ 2,  2,  4],
       [ 5,  5,  7],
       [ 8,  8, 10],
       [11, 11, 13]])

In [ ]:
x = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
h = np.array([1, 2, 1, 2]).reshape(4,1)
x, h

(array([[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9],
        [10, 11, 12]]),
 array([[1],
        [2],
        [1],
        [2]]))

In [ ]:
x[:, 0:1]

array([[ 1],
       [ 4],
       [ 7],
       [10]])

In [ ]:
y = np.empty_like(x)
y

array([[94996027900558,              0,              0],
       [             0,              0,              0],
       [             0,              0,              0],
       [             0,              0,              0]])

In [ ]:
for i in range(x.shape[0]):
  y[:, i:i+1] = x[:, i:i+1] + h
y

array([[ 2,  3,  4],
       [ 6,  7,  8],
       [ 8,  9, 10],
       [12, 13, 14]])

In [ ]:
h, h.shape

(array([[1],
        [2],
        [1],
        [2]]),
 (4, 1))

In [ ]:
h_like_x = np.tile(h,(1,3))

In [ ]:
x + h_like_x

array([[ 2,  3,  4],
       [ 6,  7,  8],
       [ 8,  9, 10],
       [12, 13, 14]])

In [ ]:
x+h

array([[ 2,  3,  4],
       [ 6,  7,  8],
       [ 8,  9, 10],
       [12, 13, 14]])

## Task: NumPy Task: Analyzing a 2D Array

- Create a 2D NumPy array of shape (4, 5) with random integers between 10 and 60.
- Perform the following operations:
  - Extract the first two rows.
  - Extract all elements in the last column.
  - Replace all elements greater than 30 with 0.
  - Calculate the sum of all elements in the array after replacement.
  - Find the mean of each row.
  - Add another row
- Print the result after each step

## Pandas

### What is Pandas?
- Pandas is a Python library used for data manipulation and analysis.
- Core data structures:
  - **Series**: A one-dimensional array with labels.
  - **DataFrame**: A two-dimensional labeled table.
- Key Features:
  - Import/export data (CSV, Excel, JSON, SQL).
  - Data cleaning, filtering, and transformation.
  - Grouping and aggregation.
  - High-performance operations on data.

### Creating a Pandas DataFrame

In [ ]:
import pandas as pd

In [ ]:
# Creating a DataFrame from a dictionary
data = {"Name": ["Alice", "Bob", "Charlie"],
        "Age": [25, 30, 35],
        "City": ["NY", "LA", "CHI"]}

In [ ]:
data, type(data)

({'Name': ['Alice', 'Bob', 'Charlie'],
  'Age': [25, 30, 35],
  'City': ['NY', 'LA', 'CHI']},
 dict)

In [ ]:
df = pd.DataFrame(data)
print("DataFrame:\n", df)

DataFrame:
       Name  Age City
0    Alice   25   NY
1      Bob   30   LA
2  Charlie   35  CHI

In [ ]:
# Creating a DataFrame from a list of lists
data = [["Alice", 25, "NY", 80], ["Bob", 30, "LA", 90], ["Charlie", 35, "CHI",100], ["Peter", None , "LA", 10]]

In [ ]:
data

[['Alice', 25, 'NY', 80],
 ['Bob', 30, 'LA', 90],
 ['Charlie', 35, 'CHI', 100],
 ['Peter', None, 'LA', 10]]

In [ ]:
df = pd.DataFrame(data, columns=["Name", "Age", "City", "Mark"])
print("\nDataFrame from List:\n", df)

DataFrame from List:
       Name   Age City  Mark
0    Alice  25.0   NY    80
1      Bob  30.0   LA    90
2  Charlie  35.0  CHI   100
3    Peter   NaN   LA    10

In [ ]:
type(df)

In [ ]:
# Check the data types
print("\nData Types:\n", df.dtypes)

Data Types:
 Name    object
Age      int64
City    object
Mark     int64
dtype: object

In [ ]:
# Pandas series | 1D
data_series = pd.Series([5, 4, 3, 2, 1, 0], name="Count-down", index=['A', 'B', 'C', 'D', 'E', 'F'])

In [ ]:
data_series

A    5
B    4
C    3
D    2
E    1
F    0
Name: Count-down, dtype: int64

### Dealing with Rows and Columns

In [9]:
# Adding a new column
df["Salary"] = [50000, 60000, 70000]
print("After Adding Column:\n", df)

# Renaming a column
df.rename(columns={"Salary": "Income"}, inplace=True)
print("\nAfter Renaming Column:\n", df)

# Dropping a row
df_dropped = df.drop(index=1)  # Drop row with index 1
print("\nAfter Dropping Row:\n", df_dropped)

# Resetting the index
df_reset = df_dropped.reset_index(drop=True)
print("\nAfter Resetting Index:\n", df_reset)

After Adding Column:
       Name  Age City  Salary
0    Alice   25   NY   50000
1      Bob   30   LA   60000
2  Charlie   35  CHI   70000

After Renaming Column:
       Name  Age City  Income
0    Alice   25   NY   50000
1      Bob   30   LA   60000
2  Charlie   35  CHI   70000

After Dropping Row:
       Name  Age City  Income
0    Alice   25   NY   50000
2  Charlie   35  CHI   70000

After Resetting Index:
       Name  Age City  Income
0    Alice   25   NY   50000
1  Charlie   35  CHI   70000

### Indexing and Selecting Data

In [ ]:
# Selecting multiple rows
print("\nSelecting Rows by Index:\n", df.iloc[:2])  # First two rows

# Selecting rows with labels
print("\nSelecting Rows by Label:\n", df.loc[0:2])  # Rows with labels 0 to 1 [0,2]

# Selecting rows and columns
print("\nSelecting Subset (Rows and Columns):\n", df.loc[0:1, ["Name", "Age"]])

Selecting Rows by Index:
     Name  Age City  Mark  Income
0  Alice   25   NY    80   50000
1    Bob   30   LA    90   60000

Selecting Rows by Label:
       Name  Age City  Mark  Income
0    Alice   25   NY    80   50000
1      Bob   30   LA    90   60000
2  Charlie   35  CHI   100   70000

Selecting Subset (Rows and Columns):
     Name  Age
0  Alice   25
1    Bob   30

In [ ]:
data_A = {
    "A": [1, 2, 3],
    "B": [4, 5, 6],
    "C": [7, 8, 9],
}
df = pd.DataFrame(data_A)

# Get rows 0 to 1 and columns "A" and "B"
print("Using loc with column names 'A', 'B': \n", df.loc[0:1, ["A", "B"]])

print("Using loc with column names 'A' to 'C': \n", df.loc[0:1, "A": "C"])

# Get rows 0 to 1 and first two columns by index
print("Using loc with column index 0,1: \n", df.iloc[:2, 0:2])

Using loc with column names 'A', 'B':
    A  B
0  1  4
1  2  5
Using loc with column names 'A' to 'C':
    A  B  C
0  1  4  7
1  2  5  8
Using loc with column index 0,1:
    A  B
0  1  4
1  2  5
Using loc with column names 'A', 'B':
    A  B
0  1  4
1  2  5

### Boolean Indexing

In [6]:
# Creating a DataFrame from a dictionary
data = {"Name": ["Alice", "Bob", "Charlie"],
        "Age": [25, 30, 35],
        "City": ["NY", "LA", "CHI"]}

df = pd.DataFrame(data)
print("DataFrame:\n", df)

DataFrame:
       Name  Age City
0    Alice   25   NY
1      Bob   30   LA
2  Charlie   35  CHI

In [7]:
(df["Age"] > 25) & (df["City"] == "LA")

0    False
1     True
2    False
dtype: bool

In [8]:
df[(df["Age"] > 25) & (df["City"] == "LA")]

  Name  Age City
1  Bob   30   LA

In [ ]:
# Filter rows where Age > 25
filtered = df[df["Age"] > 25]
print("Filtered Rows:\n", filtered)

# Multiple conditions
filtered = df[(df["Age"] > 25) & (df["City"] == "LA")]
print("\nFiltered Rows with Multiple Conditions:\n", filtered)

Filtered Rows:
       Name  Age City
1      Bob   30   LA
2  Charlie   35  CHI

Filtered Rows with Multiple Conditions:
   Name  Age City
1  Bob   30   LA

### Working with Missing Data

In [12]:
# Handling missing data
data = {"Name": ["Alice", None, "Charlie"], "Age": [25, 30, None]}
df = pd.DataFrame(data)
df

      Name   Age
0    Alice  25.0
1     None  30.0
2  Charlie   NaN

In [ ]:

# Identify missing values
print("Missing Data:\n", df.isnull())

# Fill missing values
df_filled = df.fillna({"Name": "Unknown", "Age": df["Age"].mean()})
print("\nAfter Filling Missing Data:\n", df_filled)

# Drop rows with missing values
df_dropped = df.dropna()
print("\nAfter Dropping Missing Values:\n", df_dropped)

Missing Data:
     Name    Age
0  False  False
1   True  False
2  False   True

After Filling Missing Data:
       Name   Age
0    Alice  25.0
1  Unknown  30.0
2  Charlie  27.5

After Dropping Missing Values:
     Name   Age
0  Alice  25.0

### Read and Write CSV Files

In [ ]:
# Save DataFrame to CSV
df.to_csv("example.csv", index=False)
print("\nDataFrame Saved to 'example.csv'")

# Load CSV
df_loaded = pd.read_csv("example.csv")
print("\nLoaded DataFrame:\n", df_loaded)

DataFrame Saved to 'example.csv'

Loaded DataFrame:
       Name   Age
0    Alice  25.0
1      NaN  30.0
2  Charlie   NaN

Problem:01
Create a Python Series object with following values:

`“d”, “a”, “c”, “a”, “a”, “b”, “b”, “d”, “d”`.

Now, perform following operations:
Show character frequencies of each character.
Make an array of unique characters.

In [26]:
import numpy

In [22]:
data = ["d", "a", "c", "a", "a", "b", "b", "d", "d"]
series = pd.Series(data)
series

0    d
1    a
2    c
3    a
4    a
5    b
6    b
7    d
8    d
dtype: object

In [23]:
f = series.value_counts()
f

d    3
a    3
b    2
c    1
Name: count, dtype: int64

In [29]:
un = series.unique()
un

array(['d', 'a', 'c', 'b'], dtype=object)

Problem 02:

Create a 4X3 dimensions Python DataFrame object df1 with row labels of cities `“Dhaka”, “Sylhet”, “Rajshahi”, “Barisal”` and column labels of years `“2020”, “2021”, “2022”`. The data of the object should be filled with random float values of rainfalls.
Now, perform following operations on df1 object:

I) Sum of rainfalls of the  all cities

II) Mean of rainfalls of all years

In [20]:
import numpy as np
import pandas as pd
import random

In [21]:
random_float_w = random.uniform(120.00, 130.00)

In [15]:
data ={"2020":[127.34, 126.34, 123.45, 125.5], "2021":[122.34, 126.34, 121.45, 125.5], "2022":[127.74, 126.54, 122.45, 126.5]}
df1 = pd.DataFrame(data, index=["Dhaka", "Sylhet", "Rajshahi", "Barisal"])
df1

            2020    2021    2022
Dhaka     127.34  122.34  127.74
Sylhet    126.34  126.34  126.54
Rajshahi  123.45  121.45  122.45
Barisal   125.50  125.50  126.50

In [16]:
#sum
sum_cities = df1.sum()
sum_cities

2020    502.63
2021    495.63
2022    503.23
dtype: float64

In [18]:
row_sum = df1.sum(axis=1)
row_sum

Dhaka       377.42
Sylhet      379.22
Rajshahi    367.35
Barisal     377.50
dtype: float64

In [17]:
mean_ = df1.mean()
mean

2020    125.6575
2021    123.9075
2022    125.8075
dtype: float64

In [19]:
row_mean = df1.mean(axis=1)
row_mean

Dhaka       125.806667
Sylhet      126.406667
Rajshahi    122.450000
Barisal     125.833333
dtype: float64

# Practice Problem

### Problem 01:
You are given a list of daily temperatures for a week. Write a program to find the average temperature for the week and print it. Also, determine the highest and lowest temperatures recorded during the week.

### Problem 02
You have two sets of email addresses: one from a newsletter signup form and another from a purchase form on your website. Write a program to find and print the email addresses that appear in both sets.

### Problem 03
You are organizing a coding competition. Write a program that takes a list of participants, where each participant is represented by a dictionary with keys "name" and "score". Calculate the average score and print a congratulatory message for participants who scored above the average.

### Problem 04
You have a dictionary of books where each key is a book title and each value is a boolean indicating whether the book is available (True) or not (False). The goal is to extract a list of book titles that are currently available and store them in a separate list.

###Problem 05

You have a list of fruits where some fruit names may appear multiple times. The objective is to count the occurrences of each fruit in the list and store these counts in a dictionary.

In [ ]:
fruits_input = input("Enter the list of fruits you wanna buy: ")
fruits = fruits_input.split(" ")
# fruits = list(fruits_input.split(" "))
type(fruits), len(fruits)
fruits_count = {}
for fruit in fruits:
  if fruit in fruits_count:
    fruits_count[fruit] += 1
  else:
    fruits_count[fruit] = 1
fruits_count

Enter the list of fruits you wanna buy: a b c a b e

{'a': 2, 'b': 2, 'c': 1, 'e': 1}

###Problem 06

You have a dictionary of employees' salaries where each key is an employee's name and each value is their current salary. The goal is to adjust the salaries based on the following criteria:

1.   If the salary is greater than 5000, increase it by 50%.
2.   If the salary is 5000 or less, increase it by 30%.

### Problem 07

You want to determine whether a given number is prime or not. A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.

Write a program that takes an integer input from the user, checks if the number is prime, and prints an appropriate message indicating whether the number is prime or not.

### Problem 08

You have a dictionary stat where each key is a student's name and each value is their corresponding mark. Your task is to iterate through this dictionary and print out the grade each student achieved based on the following grading scale:

*   A+ : 80 - 100
*   A : 70 - 79
*   A- : 60 - 69
*   B : 50 - 59
*   F : below 50

Write a program that iterates through the stat dictionary, evaluates each student's mark against the grading scale, and prints a message indicating the grade obtained by each student.

## Problem 09

**Student Grades Analyzer**

Write a Python program to help a teacher analyze student grades. The program should:

1. **Input Student Data:**
   - Ask for the number of students.
   - For each student, input their name and a list of at least 3 grades separated by spaces.

2. **Calculate Average Grade:**
   - Create a function `calculate_average(grades)` to return the average of a list of grades.

3. **Determine Pass/Fail:**
   - Create a function `determine_pass_fail(average)` to return "Pass" if the average is 60 or above, otherwise "Fail".

4. **Find Highest and Lowest Grades:**
   - Create a function `find_highest_lowest(grades)` to return the highest and lowest grades as a tuple.

5. **Display Results:**
   - For each student, print their name, average grade, pass/fail status, highest grade, and lowest grade.

### Example Interaction

```
Enter the number of students: 2
Enter the name of student 1: Alice
Enter the grades for Alice (separated by spaces): 75 88 92
Enter the name of student 2: Bob
Enter the grades for Bob (separated by spaces): 59 61 65

Student: Alice
Average Grade: 85.0
Status: Pass
Highest Grade: 92
Lowest Grade: 75

Student: Bob
Average Grade: 61.67
Status: Pass
Highest Grade: 65
Lowest Grade: 59
```

### Requirements

1. Use lists to store grades.
2. Use tuples for the highest and lowest grades.
3. Implement and use `calculate_average`, `determine_pass_fail`, and `find_highest_lowest` functions.
4. Use for and while loops.
5. Validate inputs properly.

### Problem 10
You are organizing a coding competition. Write a program that takes a list of participants, where each participant is represented by a dictionary with keys "name" and "score". Calculate the average score and print a congratulatory message for participants who scored above the average.

```
Enter the number of participants: 5

Enter the name of participant 1: Alice
Enter the score of Alice: 85

Enter the name of participant 2: Bob
Enter the score of Bob: 78

Enter the name of participant 3: Charlie
Enter the score of Charlie: 92

Enter the name of participant 4: Diana
Enter the score of Diana: 68

Enter the name of participant 5: Eve
Enter the score of Eve: 74

The average score is: 79.40

Congratulations to the participants who scored above the average:
Congratulations Alice! Your score of 85 is above the average.
Congratulations Charlie! Your score of 92 is above the average.
```


### Problem 11
Write a Python function called `swap_values` that takes two arguments and swaps their values. The function should return the swapped values in the same order as they were passed. For example, if the input is `swap_values(5, 10)`, the function should return `(10, 5)`. Demonstrate the use of this function by calling it with different pairs of values, including numbers, strings, and other data types, and printing the results.

### Problem 12
 Write a Python function called `reverse_string` that takes a string as input and returns the string reversed. For example, if the input is "hello", the function should return "olleh". Test the function with various strings and print the results.

### Problem 13
Write a Python function called `sum_even_numbers` that takes a list of integers as input and returns the sum of all even numbers in the list. For example, if the input is [1, 2, 3, 4, 5], the function should return 6.

### Problem 14
I will give you to two numbers and you have to swap the values assigned in the variable. Like: a=3, b=4. You will generate a=4,b=3

In [ ]:
a = 3
b = 4
temp = 'Why are you declaring me, bro!!! I do not have any work to do'
temp = a
a = b
b = temp
print(a,b)

### Problem 15: Guess the number

Store a random int value in a variable. Then ask the user to guess the number. Show proper message to the user if s/he has guessed the hidden number or not. If user will be able to give `exit` command to quit the game any-time.

In [ ]:
import random
random_num = random.randint(0,10)
print(random_num)

1

In [ ]:
import random
random_float = random.random()
print(random_float)

0.050423008139841685

## Problem 16: Unique list
User will give you a list which may have duplicate items. You have to figure out the unique items from the list.

In [ ]:
#@title don't click
user_list = [1,1,2]
user_set = set(user_list)
print(user_set)
user_list = list(user_set)
print(user_list)